@media  (min-width:768px) and (max-width:1024px){
    .col-4.left{
        flex: 0 0 33.333%!important;
        max-width: 33.333%!important;
    }
    .col-4.center{
        flex: 0 0 16.667%!important;
        max-width: 16.667%!important;
        text-align: right!important;
    }
    .col-4.right{
        flex: 0 0 50%!important;
        max-width: 50%!important;
    }
}

@media screen and(min-width: 1200px){
    .container{max-width: 1000px!important;}
}

/* 1792x828px at 326ppi */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) { 
    .myprofile span{
        white-space: nowrap;
    }
}