
@font-face {
  font-family: 'Gotham-MediumItalic';
  src: url('Gotham-MediumItalic.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-MediumItalic';
  src:  url('Gotham-MediumItalic.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAFYAAA8AAAAAwRgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABV5AAAABoA
AAAcTDTlm0dERUYAAEoUAAAALAAAACwEYgK8R1BPUwAAS5QAAApQAAAkPODFrjFHU1VCAABKQAAA
AVMAAAJeFg73L09TLzIAAAHUAAAAUgAAAGBeC1XjY21hcAAABTQAAAJ0AAADlnyRXKVnYXNwAABK
DAAAAAgAAAAI//8AA2dseWYAAAqQAAA3UAAAe2RTvx04aGVhZAAAAVgAAAA1AAAANhju8RloaGVh
AAABkAAAACMAAAAkCEIFI2htdHgAAAIoAAADCQAABdJw4jbAbG9jYQAAB6gAAALoAAAC9ttHvdxt
YXhwAAABtAAAAB8AAAAgAcwAwW5hbWUAAEHgAAADVQAACApkMDbWcG9zdAAARTgAAATUAAAIfyFp
vFN42mNgZGBgYGRw9PkQ9CGe3+YrAzfzC6AIw62j17ph9P/af29ZjjJ/YGBi4ABiIAAAviAQhgAA
AHjaY2BkYGBW+G/BcILl3f/a/1osRxlSGEQZkABjPgCpPQdtAHjaY2BkYGCsYtjHIMAAAkxAzAiE
DAwOYD4DACMxAY8AeNpjYGL8yRjHwMrAwrSHqYuBgaEHQjPeZTBi+MXAwMTAxswCooAEAyMDEvBQ
c/MCiij8ZmFW+G/BcIL5AMMHoDA3SI5JgGkPkFJgYAYAsCQNlgAAeNqFVG1ojWEYvu77PaOTTdn4
MdlCnTLNx5aRrzXa5uPgHx2xqbUSayhCCmE2P3z94Af2h5JQlLTGL+Sj5iMyqeGXtEk+4kQ+8rju
5z1nTmeyt66u53ne5/O6r/uWJPwnS4lSYgqGy3s06mXk6zb3K6hHpXagUPLQKJ2olU53Ty5hq+7A
Uom5LjmFCokhqlG3U7tRLcdQr/Xujda5b3oEI3WNc7oX8zWBYj2K8WwXyAQMkwnuPveIE7OJmBah
IejGLP3pHulDFGgP4sFQ8jHiOAqC4VisSa6di9E6zb3Wpxxfz/FGIp+oxhI9k2L7t5Pnrkez/sAK
fYK9kcU4oNfdM96pSc+793LX/dYodpNvSBINmnCHJClDdAHytB05WoZScinvXSoHMU5Pul7ulyPF
yJUit09rw3bQwbnriFZM0nbXY2uE6+Wz+yQnUMU1U7UGK4LlWK1zXLcucl060fVJL8oljjbpdc/l
I+altI/qfNToLvdVb2Ombsd03u1SUIm4tKJC6zBZdmE1xy7IWSSoWw7br7SCYzHUsD1NDmM65wXU
c6zX8h+IxNwD09drmwHTNhNBMUrS2mbD4hZUu7de30yYvhe53xZqYlr+A8FVclmobSa8thnQFo6n
tc3GDizTVvfY65sJ09fiYGzvtTOz2d5u52ex9xvjZ+/2sTddEoOz9yb9kc3mV+8Z09Pe1M/0X7F7
ke57v9JP5mff9+xu9fc3kTeSj9AziTAmpssAtrhQm2yOLEQ8EqVmPMe8GTL3T/eZK/LFfRrATcz5
E8y3JjR7L1t8TeNB2HLN+928YHFI5Zz5fgCPZq1IxcV8ad7wvrLYpu+RwDh6+xxxP4SMIv8iVhLt
xFGiJH1uNqfvwTkI+sJahx/EfiIOaD4qghZfx5qJOqtrmosNxCrN8zVus5zGCHmHPQFzNPIBldLA
XGxgno1wbXoHYyxH9SZq9VpYG4NC1oyLISIzQvh4tKfqyv8Q1qC/vNZ9t/2tTrMWl3sPJaVQitDJ
9iN8wTfcxmO8lCpc+QMKWnjjAAAAeNq1k9lTjlEcxz+/p02vCEWlvE7hjfaFKHurEhVJiWzZt+z7
LmNfZ+xbSJQ9YsrYLrh16cZ4H/4DrmSm48ybG+PClWfm/J5znpnzOc/8vp8DeNE5IhBTkSNmJZ61
t9SYdznj8CGUHdygniYe8YTntImfhMsAiZZkGS4TpFIWyA45JdoKsyqs99YnL5ez1vld+SiHClZ9
lVNFKZdKUhkqW92NDIlUkVFRvX56a21OUFwz5AbuG3ILrbwShzjFJTGSJulSKFWy1JDbrVBDfmd9
NORdzm/KUv4qSIWqCKU85PQ/yGitv+q3+o1+rV/qF7pNt+pn+qlu1o/0A92kG3WDrtd1+piO1oEd
HzqqO0o7Ar40f8mz0+00O8GOtWPsIbbL7mf3tgPc9e6R7lR3yucs37LOLv2Xx9dyeBLgrzME6/fM
+gejc6cX3iYzX/zogj8OuhJAN7oTSA960osggulNH0JMrmH0Jdyk3Q8n/U0WkUQxgIEMwkU0gxlC
DLHEEU8CiSSRTAqpDGUYaQxnBOlkMJJRjGYMY40r48kki2xyyCWPCeRTwEQKmcRkiiimhClMpZRp
lDHd2FXBDCqZySyqmM0c5pr/38o249suDnCU05zjLOe5yAUuccW4cpU6rnPT4+MtbtPIHePlPe4a
Nx/ymGbJZyXVLGCRTGQ1Z1jOEimlhsWGvZ3jpq7y9GnhH71byjpTL/OADcz3NFN5vi9jvRQyj41s
4Qg/aJfxkim5kidZkm2shRYJk2IpkclSJNOlXApYIznmVkxiM7vZxB52so9a9rOXQxw2Ow5yklOc
wG0sT2KFxEm8JLDW3KZEif0FFY6te3jaVcJdSBoBAADg8zzP8zy987Q8f1LzzuvSPPU8LzMdERFj
RIwIkRERISMifIiQHiLChxEhI0bIiPBhRESMCImIHiQkYkRIhIwIH0IiRozoQUJEYnvYy/g+AADc
/wwCE8Bn4Ebmls3LMrJNWUH2U/YEQiAJ2kAenABTYA4sglU5Ih+SJ+Tf5HfyOkRCLBSF3kOLUBn6
paAUA4qkYlmRU5QUVcUjjMEcHIbjcArehItwXelQjitnlOvKbeWZ8k7ZQAiEQQRkGEkgH5EF5ACp
qkAVr5pUraiKqgdVC7WiEjqErqA76CX6onaow+qUOqcuqq/VzxiKubFBbAlbw0pY7a+WRtBMaVY1
Nc2LVtSmtRvairaGIziHS/gI/gGfwXP4IX5HAISDGCIWiTxxTTR1rO6tbk63rjvRlXX3uhZJkcPk
EnlA3uut+qQ+rz/WNwycIWHIGkqGWhva9qYt03bejrUn2/eNqHHamDWWjE1KpOapVSpPHVMVE2Ea
M62Y9k13Zqc5bp43fzffWlBL1DJv2bScW+pWgzVhzVivrM2O4Y50x3ZHxQbYRFvSlrNd2Bp23j5m
X7Uf2l8clGPUkXYcOaqdVOd4507njdPmTDh3nRUaos20nx6lU/QavU+X6Cu6xbDMABNnFpkcc8D8
YGpMw2Vw+V1jroxrz1VjYTbCptgt9raL7BrpynQdcgAncnHuC3fC1bvN3fHuje5LN+wecn9y77lr
HtAjeKY9656LHqhnpGej58ILeCXvnDfnPfXWeIwX+DF+gc/xR3zVB/p436yv7Hv1T/q3/fcBLpAK
5AMHgVKgGngUCIET3glTQlrIC2fC7yAZHAjOBdeChf+cBsvB+2BTJERJnBAz4pZ4Jt6K9VAylA6t
hr6GKhIhJaRlKStdSK1etneh96T3OWwOj4az4VK41cf3TfVt9j1E3kTWI0/9Yv9Mf6G/EN2NFqPl
aDX6HH2NETFnLBKbiM3GlmPZWOEPDW7p6XjavX0HfBzF9fDOrKRTs9pJOtWTTifdqbeTdOq9nnqx
bMkq7pZky5K7ZcnGDTewwaYnBtvYmBgcEooNAVFjUkwChD+kOCEEQiihxBBjJ2DtfW9mdq/o9iTz
/X/fJ7jVWbc7896bN29eP86V48y56AofzfGcG+fBeXO+HBfkr/FH4QgpeQ2v9EIadEVof/JJ4eaz
Z9HtZ8/+6km0/Ff8J9dD+PPCFrTn+i/QZrRZ2CfsQ4XCFg5+MOfDcagdT3KuMCJnVBoNCl4Bl6FW
z0OeR4/F7ol7F01qtULlu/v30/uXosM4Fu53IfcjJdyuIRdUMe8APia833kAHUOHUZKrcIle6DMB
cHkNngnnojjOYNQa2cugoC+Flr60Rq1CST7I7Y1YXjgYsca40njKOJTTG76icDB8Xe5Q7qnc3pNF
p04MPDZwP/zArxMnTiCPxwgevPm6+QG8D1/lojk9l8pxKqNObwxWGVNRdlaOIVMFEwWrFDq9Qo2C
At2SkEJp1LkFBQYri+EGnf6RqN113cXzczvb7xmZ4xYwL7C3vD2rILu97ehGt8ia9PwqrTq/QpOw
eCist6FG+fPoluruzaigWlXRluH/bFR7Vd+mxdjzDMrSh2mFn2JDYlhsAFC02Pwfvglf4LxgpcIB
LgPHKWN0FKBggMIDGZCrzb9RZg7Aoo0hcNm+/7yibaStvH3EzOGTw1M96KL4byEpuTAuJrlQh84k
F+k08ELdHRVtO+aWt+0QTuPJqUr3ueXt2zvK23egs+2ZuqSODF2S8ABckzsy45Ip3bhQ89f4bvwr
LoyLI3Rz1btpKUhGC1wKVY5R5aZQIUoqChKfadT7ACGDcWDZqo39Y0Mr4zf1tC3/1eKUjMa8vHrh
o+bixLgEY3ZT83hdbYFPd+eSuXWboivym0a6a3aW7M1oyeoqGUDbw4zayESjLkEYL35U1ZCckMEh
wl+okvIXF46AsZbacBQwHFdtXosE/BrQlFMBiAFGFQFE9d25376YfPT4rkN3/RZ4orG7+tLY7Qfg
fvMvzRvQTfh1cr9CTzAAtggKxHPg5t315357C7nz8L5GeEy4SsbfiMbRS/hlzh/+oTcq9Ea9UWVU
KeB/lUKPAitT1isnFmU2KivIm8WGRjTuvy6lKqApc9EYvKlUNhoWcWScRm4I9+JOMm8JErkduPyS
4SX1i4Z1cH3JMPTiyAsvjLxI1gGZL5pHuCe5/WRXKfQ5ZH8ofFCKxxK/rLibo4J7Dht8Wvav72ig
Y2dz19BWtBpWD8bWKLKjUXz0tU2b6GfwPB2HJzvNoPCIuzkOdi4ybzVvxw/xavJ3BfDdLvzU+qmG
7fwD1xczOVBpvoIngQ98uUjgAsICxZguvw/WZ4orT5ccmTYfyu69rW3Toeye2+rKRvIbKsnF+4c3
tdy/rZldR1bc09jcQy8Epj643AU0dQOYlEBSA9/3g5vxG3Ofx0UxQ4VTJQT/fwAQC/EvuGCO0xol
VgNKsK2hcNUowsPRhtysvIzOBY1rjizfVjtPuI5qIpci7/jKuPjUBc3jK9pKBoonVzF6XgN8dgAf
hQCfxMCaG+iGSoI11Rg1voiKgStPmnoLVlZ0t9Xp3L8Ufh+J3gr9tqH7Ye895V3VhvTM+l+t7PnN
nE7TwC1An0CAbyvg4MnN4TgYQo8MPFlQZFCi+kTh7Bz09abNS8OXJgpfvVd//wL0a6Fs2f0IIxXA
YjZ/g9dT+Qew6CzAEPyUGoVGISL5XdOB2Pm1y2v76ytyCkuH0Q+jhHeyk1MXb3nEqyanprMlN70w
Mgs1DZ/wG+4euhdgKgcc76J7V0/WTE/3LZF2CjK2m6IYsYH1VmGiCkb5a0pr6soGb93RXlc6d15x
VUD4QmPfloc2VHZV5Nd0R8d5l9ZsHXyxbMXceUUlVYuiU4a7Bh8Y7MxPL2nPS4/WkvVUAy1uAXzI
eiKghQLI+YJwOhJ9HiYU45ZVvVMnqGyJMV/FW2BNVZyWSxO5KkcSyXRZ6TLwAF4OAU/hFgzvjQxU
t2CUOHrvQGdi5qENK/fNr8ssPp5e3IRqigqaEKr1qepC7RXV81G753BH0+IAZX1K44aB1oo+P2Vz
ztwxdKw4OdFYmJKYK/yiOCO5sCwtJZ/xuRJothpoFs7FWzjDmGP0QUTsUYKpKGQUqiy9KIL/vaPf
1NDSWVoaFNGX2z+GTm0yLFTXmMqXx1V1R8cWVXVVeffMqyor6Y9OXb1g5P4YddX+ZT8rX46WdRZk
RMfOK84sIXODLEBq7AeUUcBJQI5aeK2HHfolvNDe/fuFMdir2PyaeUS8bw67D1kkArlb+LPHMh8D
iAVVD3lo6hNb2VDPNeKdeB1ZmxRkjFPMQehLoTcSh8UIa1B+47ur3h07dhxgKeAexaM4SIJFo3CF
1zY1els99Sm5oodGR78dHaVjxsGYPWzMEgSjuiriNOh24VU1OhnZCMOtfncVpS2IEpyEX4W9Aruu
BE/fxL4YUDivclu+Jiejs6580e2LN+4b15wCjN590NW9LEefVNm6ZKChe03APKJtYC7fvIR/El/k
Mrgie5lEzijpoMok4tnNsqWojIIlVbEFlI7Tvzz7SePO80vPX9q3wFA9p6Gnsue+lxKDe5r8tEmF
A6+eHH9z41s/GljmN7ivcIkxpaAn8/4/ne1/Ymfzr4/cdn+Kfm5309pjbXWh17KLb9mw68nx3244
eiFFk4GyBiuTs1fUpBhgzV4H3M+CfFCAhOC0IBW0eg3oM3wm+mrjpm3hwrkNL32Vgl+eKjlzBgWj
cLo/lPDMS7CP5nBBZE8ZlBq2KyiGPMUoCfGS5FJOIu+RjfNrVz1w69Bjpo71p3dcNM0tz3sOT/bW
V/f4JS7rX4/uyjU0C+p8gz6Z8oL5Cs8Dr4dI1ENENqQiRhMYF6iE9h54Ys2Ftc91Lo/pLBs9M9Rh
nJvautb7wX0jFzbdXZWV87PxzoH4+LYRunfg8hnA6wnwArQwGFEP3LR6soXIZiFAvnAe5POuTxev
OdHflFEwPg9PLmjYfmLNrtH+pnUtGQUELjLO72AcL4qzQvpPOYmxWhjLQAvUwkOZ6KAaT65+enhy
NSc980d4xsPmGR6e8FALaw1okVo41oAnR18cFf5O5T9nAtz9qWy0xV0noU7OZA3vhm7Z/fzIxbHn
untMmyfOjs5vqUx6MhIl9q/zPnZo1StjE01dz2zpXhF750rh8UpOgoP3lWA3EOWX1yoJJBNNqK5p
fHK8WXi6GU8K7yLtVCXSC3+CZwAG1AbP8OyZsMmJSaKd0XPq7yAju+Azf+vZAOII7vJBCrcXatdq
urPaipJ0EcM3bQhK0tZ5VhXVzEuKG0b3CI1N3dpaC0xpVpjgeFdqeV9Yi4l+9IMzwtEn9x08kwEw
PYAWC+8II6j20LMWmkZS3Z/hAisw8QAajQLgnhoVx70JPvemnysRQRVpvWDgrVtQ8sHJrXuF37js
2AMjn0P1gO1V4TyqFbwtMKVI62UIJ8+SB9d+sWdscsU3++AZf/QveGZK4KnsaID10sF6zSGnpGXF
iP6Bpukfe275yeDLG2756eArA007Klf2kIv3T3YPvbiZXtZ07audTy5doxLPPkVpY8Oz1AAwZFp4
9t3bK7NeuPdIUff4opHw2MYJPFmV1Tlx6O+opakqMTyWwXeJwufPxVi1ZOmAVajiMomiaCOC8Pac
BYMipBWFRcJPSnKXLOuoZuDqGg0iwO1HCxproieqNncOSUAzmN8GmH0J51j3mQJkCrGRbDabcLjC
UFq0dufBzUfK+o6tNWhDY1vvw5OVhtbFxcXBZu7KFbQoW5sRFx7DUT3kKr4NzmMN1RYkNUQv2UjS
7lDRUxnF/2JJ77yJggajqbv7B+se7O9sW1xQk9c8b94xz12NS3KSolMiYzsqF40PdrQY4zRJUTFz
q5ZO0LUfBvgvAPwKAj3sM4WWf+yB96JwbtRfH8CmtWunzrO91Gn+hg+H+4LFFSdsL0km8lbhhrq2
7PdbPL7Cs6GmaShk5fhobN08r4mVuUa0Rtim0xeZhvrQIaF/T908Mt5O83d0H8A5peIJv6J/LNld
gvpvEbSuIHo/xSqqa3L7zN+5PIhfIHzN7iO3ann0onF7JMoeiEGZtwrNa2KFt8hT/8UeU9ewYqoE
fSX4Mt3yHeDtOWy/aUE+g3EJG84LJaEFJw6MfvSA8NPTBzZeRitR67ffCseFU8hV+I7iuxKe84Tn
3AldGID886aj+4ZQ0L3Chho4F04LF8A0bxSu0Xm+ADp+yPYQ6MRU0YI9GoJVwlY1Tgmd+hTdGbkA
XRleIHgPk/sF8zbsz+iuUBKqGxT4PZQV9tLZl0J38sX9U9v7KRw3mbejZ5gt4ErAaH972dvMFEDm
l8zb0P+IYxjp6vGldACU9d7Ofry9//ordIzF6Av0EX6e0Bo0FJVWr1j8xtyFHRX70Rdvvrl7N4X/
oHkh5s0vUJsDgF8XhntCj/f1kc+QG25HT+Fr5DPQyVVo0YI1Rbh9XcYp4P85oC+H4BBqMxOpKJrw
wKxWbULBa41EsS1BItc+VtWzc7CtgXdbV1cbOH/ZimGv5k0B9RnGnjlu5TmF1SleLWVdy8K8QgKa
IpfGdjbFJAh/qGrpMmWqArMTY3RUBrnCvCP4EufDTg29QgtcmOOgQwejurG80LGfj9W1zu9e//gu
06rKPNN6k9dgH74kXG4dX7H/uRVb5xXWbGvPZzpZMuic+Tjcwuc59scwOYXVAwee3Xaksi+kIK12
uDa7sqK0x3vH0I7nNpfqErZ1FNYWNHcw/TUZYPyNBKOFNuQUMtrB+C1AtmEsrxnAVLYm1m2oLzCt
qvIisA2i+ClddeuKm9rz6yfmF9ZI417BOQBjILH/jGpEwbIVcqDziaMfQzVllRX5XetX72w8Mn/x
GpVwEAW4ZmcV9v6lqNbQWLd1qPlI//qurOL2OarkvAa210HmoH/i94hsI1xlsNgpvmDla3nN2oqI
Cs/k+4uSwnWxFYHuRyJuX4t+NJB0KmCZn0k9IMwHGM0fm/vwnQBjhJ3uXoJETZDo7kZ2cNrqfldP
rqroWtWWpg306Oxv3/zE2sqWsNCx9cr4KFNH3Uh1fu1Q1YOtHRVp2trolhXztz+Rn94vNNQ0q00o
bWW1oWJlfU4BwA9nJKzhJbKGBgtXABMqxYkUvOvPx2qbW03z/BrGmtzTkzOb/VqAH75unlsXVSz8
DcWFh8Un1RUIf2D0BtmDGvHbVlsAwaiPRu2KFt47NHYIL1q3buoY9pu6TPDeZe5FDfReX/FeEXci
JB+N2hklnEyIDQvzMQbcOnZ7Inn2+nWPhW612H3q06Mi7NsAdlE/iDO4wknii1wvjK1FPseFqzft
61ueALDOff8Pwi8/a7uPrBeBrw6eEXUW7wtjF/ClKR1dSxiP3wvroKOfUfNVJUMQW9ocHAtobMo1
+TSO1XT6N441K1ISMhp8W8Q3QCm/yub89KHO2vByQiu1itGKvastJFST1iBcXAOF3BrAPNPXAEZ2
WALMpQC/d8FYXmCdcrZeOLuNHje67/y20X1PbzStNBXVD5m89w5tmdw3tOW5wW315aabTOUmsj6X
QM6NwFh0TyoskAFb6hVGm+F0z8BenM82ZuUnotg4jn9aTWXGoHDdIjXIflyI74Yx53ChAJ/RzSIF
DbwdhMuKm5+CAbfkho49c960nm7z4x+3kQEHeqdart/UkW9iu5zSD/0ah4l8oMhRKWAQ4IODY1H9
22IU7dsisrHfpv3u21cNXSDy+7L5Cvoc7tfa+y0khSF4msbwp5JtybWmhXHpsQlNpjV9+cOxFXW1
uiRdao1pk3dGqskUE6lU+0eX5DYsSYpqyo8JC1Qr1WXZLUsIbKXma+gJfIL5a6guYHWawRTA7Aq3
CyVVHjUgJ/Rj+oMRBytdsuPiIxI9ctOj1Mh74PDhAXOgZ4L/oJLyaDrIyWVgQwdbxrPTLUBa/g7Y
hHBiGmWTMcI5XoRRULTw54hQwigoYepyZbOkq1wHe9lP1C1An0XH6rbq/r1bOOqCA4VtaOfU5/S+
HvN1fgsOEHULuI/cCsrBWOS45+9XBL6+RbgwHPRH8sw9aKVwFxqc+hwNCvfQ8/JtYKbFMAfVK/Si
XqFXJKM5W3bWHz1i5rbubH4YKafOnBGuCf996inmN+ylcPlaJSIDzweVVWSVRsemJjdOJH+6W3g0
e+nJ2C5VAQ4QxtDeqfdbK+icn8CcRfC8nY4RokK7hb+HoeeDhXGUFN6Oupe0C6fpOmWa1+EI/BoH
SrEr4QMjM06NhK7FiHhjFfA/4QcF5QyU3dceNCfGEBWqNhX5+m3f69Zf5zWnzqRP9AtIyjuobCqM
KU4Ii1b3lC8aGXBpc69rX9bqoUiNCU/OD4tLDaQ03Wvezn3C9BWVv8F/7yKL3xKZ/2Beh14GeLTM
v0tg0IlQ6Y0WMAoQYXWATOvWX+sN07f4wuz6vvZAn5gsNYBW7ON/00Fxdt9adUJuBExuAug0JfoI
EToKSxn3IXoT3URiGkaiiqhEOxr2OmyG3RW5bXG6mIDASP9KeKeP9dV8GL0lKjxSTa5E7pOoSTO1
BT1EWU7YUfEQ8eu853m0otUTG/bvn/qtFk0KlVp2VlSZv8UL8SugD8Ep6hDS4MWjmqgr1Bf+WknN
ud0B7ur5cc3xPZGJ290bqsrmbQ4N0s5/u3EwfyBy1LTrKdTYp64rSVMKz+S2tvDzsdJlrLlBB/S8
ChPeh1+FM5bTlmB6UBst+orCjZ7WYHt7BnWmNUc0R4TlVK8+WLokODs+QxvtH/Jd+HepqCayKeSn
A4OLc6o3lGu12uiSjoFHVxLa5cG5EcX0fUsUiKnBUhDor+EvhbykfCnk/gM3r0KedwnP3B/ysvLl
kJfDl3fVdaEFwiWkEx6Ct8spXXLM14D3f8mliP6haRJKCmFME1PUvaJk90kfBKPIui2xDZV9uvSM
0oU9rXXpm7utf+jvJX8IjstKzSlNoFeP9ITq8ohgEGCRRTlZlZ6xhrI29qegSGVEcY6hiv4JRcSG
Bkf5B7Erhfkx3I798EV27sO2UWgID2yIHtcIL0aPR+P2TfADnxLfTRTYmwqwOOGcdYnW+eVEB/u5
Zub4EaD9go0xOjurjXIBrhfeeuttlPqWcNeB557df+DZnx1qWz3SMa8oLTPLUFFpyM5ML/N+GyX+
/m3h90+8iPyef1G4/PzeNafWFeSkmHKy69PSKmHubBSG9uOXaLwuyRqzmqaB+yIQokSvt9XCn9el
1xkT0rALEMo705hX6JZc5ZX0vB/i/fojs9xxXESULgTdkRyTke+r8HZP8s0NTEvyjXhQnzKWn/9I
QqSnlzrELwjolMrF4PnoE5C3czguTl+CVAqVK/uF7liJP6451yqcGsIf1Z5rjfmL+wdljz+cwn5x
LlwPGkDPgJ1Lzk4dR1xhMboiRHkhEgW66TJz4F+6GDf4hypbjHGBaR0E77OSEPKsW7a8Fl77d3Z1
7exqm6uJj0/N1kfooqJ0aGB5LapdQS/KnlJUuoBcgs+p1UlzyvLyejOpjHgE9+FQfJ7IK+JZfSQE
zQvBffOJDsvNR2PoNI0Jquyjgban+pcV7avqK9uHa5ILk7RJRUlorK3UNNJWWjdaWZ0cl1KTFJdC
7RW4DOI7aXyRQzSEaiRiwciDHMeNk+mrMyYj6HW7EBGOPkQbzp1bic6dQ0L0CgLnu2CDvcdsMKVR
pXj37lX34fZTGevoOQZjtzDbU8NETgHiUWjhht1PnD46+XeXZUvG7pwSfWJV3JfcZbSJxaMMiqq4
PXFf0nAxfJZl7kZenCeV3Xqj4XDvxILTKbtY7DEH+OwYflmMj9pRw5XxlVWJL2lYUl3cuET41hcp
fVsSjPHR8EKH6wsql5PXpvz8p8oSYhLJi+4zHvgnBX0s8Q/xzihc2S9UCcyzaCUWomqeaoHfMaVP
PJz8Z/cP2C94Nhp0kU+pjA5he5SnkAFuvsjqX0bFILMvLiE+7FarU5tK7wvMi231arMYNfUR84ep
j9jHzkusBP6z8xR71XUss3qL0cLDi8Tn/yD7PEHL7nn+3pX3WZ9/43C69PxT/C76vP+056kJbzfE
3vvXzu0r6rWO8trevfn5Eh4f8LfRcdR246Qhai3SI5GGVGD17AatqIjIT1Iv9A2M8LO8s87wqqok
Xx8cFgxXFedC53mDHxXxDbCbiTAaEZ12o/dGTUQJT8PFBvVR+LHQvp3zAws0ioxkjW9LQ9qq6pno
j6GmgtSiktVk7PUvfpWii0qKDo1OjMIPhGszq3L0VTFTa9gUWxPCVBHx4aoIYgv8BmR1L/XdKcks
Vu82Ua2UAH4WrsBNauFABjKphfOZaEIteKaauVs+vNARJDq86bAFbP/Um7upD594RfWwEWWd+CC0
gnrXLBtzdOT/0P10yubQe/46zZnPfIy/4/cymxLB4iMbTzx6EthPeHO6P57fe3jR9TOSV376GGRn
2Y7xELCg4OLg078KvDjlaXXtW8bZCnIgwD4iwDO2dAgMXBNZkw2Cr1LG5MVxltOzVWlzutqMiF0l
FhH6HUEjvDINNuq7pzgqmCVMtirx4C8lO3RyqpIQRbzvX3b3AT3IfZ1kJ8J9FHHrmK8DvjyJFcG9
XojhSW5PllAjT4h4kfs/FvHykkZnuJFHzlu4nj5EGZ7OkwCbFQMv+hCfDvW6yMZsiOaV2NKqbmme
HrvJOKM+gxJWozi7EM45ce35FH43/I4kHjzHbY8sXn90t8ymF4atsYDPbLb99e+mhQYAaxobALnH
g9SKYtzqP1OE4CosjUyQgD8M7HuHk0iB3DywgvxM83wAS/sLuYk4WOrrV5zMJM2zl8Y6YmaOdoi+
VdmgRypjFfnYB/4hk9bW+W6DtdKQOLzcas2I5xmZ9TPIAISv2i7kh07wdxHhGaX8HEQsN2mnzgQF
rpHYfFSW5ITtndIccQXcKF6HW8n+idNb0npU6Pn1b5T8bnMvXN/cvPbkQx0Pnqg79dDcE8fJOfcp
wHkIZG8Q8LhO9AgbpVgiMb8IlHGi6qui0OpBcu/Z1tk0fiQNYNzZ2TJ+V8rgK8Lf0K3Z7RtPXGze
VR0gbDJ411fuNC0EIJtq9tT1wu9LqC/tuXU59yw4UJcVL5xMYfuXxkf4PaIEAD7gnURJ3gCGd3OM
lPB7gOGPOQmXOIwvcbvM+C8Do7/lOD7+hshyzskE0vgTYO9FOo3wiCJeLtDzI8bf8vEenrPyN5tn
GeUn9TRucpwRayRG2iSHEj0DnONEYzhAM3cWFRWjOETY20RyGoFettEcSijrWXcP1atB/zdaY5Ba
EmxQiOHJ34hxyMwj0ROT4xGLSHjy7zQUKdyzEU8O0+gk0w9czQJeit/noknOYzAZzWjrgDVKmTbk
8n7Y0r69wadykgx1AbvG9qrzaob61/S0jJ3FC1FVTntAu34oId1UKQSiq8N5VcubTYtDEweWbKY0
ZjGZazQmk3TjURkl7LPZIjMHFqwpmjk6g11JYMgCR/H/BRywQLPBsQfsn9ngoNaRlR4fUThSvw8c
lN1nA8Xjh2sauwsWzgbNHXdUVIiwVOMPKSwF32dtHM+B2QCrhgMgOXKBX1CYf0UkHAULfIPCZ4YS
fRdcWhAfHEGuKkI7FwpvJr4ormHa96Ie3dmzQfm+5E6ZjYDU2WKBKYTPEPN0S74HTE5s+NlgfCOt
0JSVXmDKjEqMDlMnRs0CKp+XmFlPXimp6rDotMiwaIkPr/BHMIE6nXjB4iyxMFu4peiMRjRdtTFK
KZhndR/lGHXoJ6Njc5fagn1YN3fdwhGVsL2mvKIqr2Pz7VFI6ZKVXdB3sLKssDojOWGJ1rVnRVt1
5yIJ9O7e9V15xuI6Q2Mdyg9QJuc1HgohGGTEqVkstJvGcEKpP8CSemAXDVWc611XO29aPHTByOmU
MdWGdtuYaDuiNGCxy2s0dqmZLXpJTn7nEcx7QBbJRjE/phKIzdVJfSYhNKZJrJ4Z50MdIFaED5zO
SD0uwn75yKmE20ecG3BmrCXWzs845R+Y9Dg6w5xEcjiZ1IXOaRJ9lBFcnM2JOjOmP5G23YUZZiZb
zhm6YlxUSekr2VGwXt6Hxg5lkgQBv6nLLEnAcu956V4ltT8N/FOE3P8iMVRC2Kkf0yAqu/d2SkdP
KxWJ0c9odRt9gFBFfILQnjzziEgHLxsqkBwrXwnXp+mTBCvLXMk0tvgB8DihnYIZXNK21BHtU0ei
O7Y5/rhj0fIV87et2n1y/YLSsNKbg1cp4+8OWS/8s364vqhhRRU+EXXfHSdXzN+5avyJ+urOxPKY
4MTIuKmxLc3FjZtayhjtiD+wB86BYC7RaYRUTujLRE3vlJHzcpFUXGcn3XkxrnqN+jfDnUdWyao6
RFc3whI7RljRVbbgbOx+ut7UX2jRWOUit73ABiemjc844oRMDFeCm/BHANEhJQ5xMvw/GNfEOkxA
OUhuBmmOYVgfQpukmWgjY01Pp1WWzALJ0O5z+8PXRcTzougjiZqmLctR8nmJ0xscsKVcL0/PJq4F
eHHUdu+oNEYN+Y3yYm6O2Sn4RKCvhdWaPTHoq5tuenVAmNy+HWyuNwG+x+F8UMIKa21srhyLyeWm
j5MsLqLuugajuGWV+Wsnos5vW1Kev2ZM8/R/kYc2s2n1vqbVHsI3Md75huHcqi2TuYaVxvotz738
cdjO+oj1Oxo0If+MYHKExYqvwb4JcxotJgwrEzHOJrqrXNQY97FcJmnsGW0sGB+1A8N+5jgB49kH
nQSmpfEJ30bac63jFO8wph2Qm4TyrfwsvDjHxRuxrwgmP5YY5na5mSjPOMVHjGdfY/7T6RFtIuMd
otpPA+GmRbbxVVFPl3IzLllyM3hnuRn/GjPR3Iz1W/IqPq5fSXIz6o/zW8SELpKcMb+wWkzpAj5l
cF6kcKocIZVo5AAtCpCo4wCzqIwyX/UlsGfl/Pwae4/3RAhaEWL1dl/q7hbtASM+//1tJM2smnUA
iWXNoqr6kUiXhMdf+N0Uj2A7PIwxOqOB0Mvgg+zwyaqr92pxra6I7lGNWtH6bU1JZmZptWR3lcHZ
SnDL+l5autFAtReYcTYkX200uXSA4C3XdwYPzKaXt5aGxxSVtRBee93cRWsAlDTTL8tIkKVIE2EF
KoCON/CYqwwmuN5MsFYai3yVASu/+CplaWrOmTME4fRwNcrnefQsrREguZBdNBeSVg+SMY2yGj7D
WZrHFnMUWOkfUL/QEWV/mDzQf6XRgjbAUNXiiK0I0dc2qZIAF60t4A+DFhwxQ3UBT5Qy2QqDhntX
3udYZcB7M0cJ06FqHeSmTOZkNWz/w47Zk+JZL5tDyWAnZ1OETXxPtjri9ajtUb+Ug584HK9fkSmT
EGHPB9kQbKk+cISblP7IZX22aLZqpmd+4r7Nm61w7wWaR81Ac6VCS7VLWbL/+ui6jt7iXhnK37F3
b16eNRe0QDpTEBvOCflxATlU8hf9TGYFPqKHis/0JWBxms/4rTC+P10BEWDZ4AR+iUE89YJDZQm/
lYB8fZdDhQmzm77h14Lcd7FoOUEK5DxdFr9jXD409bVc0iyOeIF/bupPsqmz/29jLAQHRHNOYygG
LB2OtxMBdkXDtwae8h3zrVRWHbcmGiYL/5EQ6arLza2belhMN3xY4G3wYLGzBVIsT2Mfy0shx8zU
TQ4BQdTdfd1sEy9j9moznD03ZIuT6lXntngUOWtkjfGvWS4Fg3kLy6VANkeKHezv2hwpU587BP2u
sLNlyltCg7fYbwSHxFn9CbYni3Nk3rI9U2SR+oflJLHitlxaD/soJrofxNLUVbkApjV8KfkOLt7o
WhhmWIsDIJZkof6IiCZS7wPnFKnpUtlHcC1HEtEUp8MbxE6gShFi8aApTc2hvN9F89GjyQ6zjZAp
NAwNhc3IbrzFBxFhAX07Qyavnp6xxoAJERVvCwYEn6R8LZs1MR2jAqsfQopJE3vQKqFsAsnPinLp
gsOmsIgl23Wos/pwpNFmXA5cxwSr8KxzXwoTsFed+lJoDRzoX14kemW7P3jnFXFYZbNdfu+kOg4L
bNNcvypTJseLefof0Dz97O+RqW+npN1A2v5ztntqthx+dMFufzHaEB1A7aADOFQJ/hG222+d0IIp
AjPQ4SKlQ/L3oQOAcwPor4U9OSvWr9L9CfgKX9B6SA/mRZTqiZXOsf6LS/0cY8RGlX/jsBPUhS/0
HgXLOovzkItz/PkYmFPHZRK+dyPnl7EY+O8GKYHDLEB8MDtBYFgGz/WS2Qo6pD3OF4DMohackp6v
GumMVWrgRTwWc0OqIyYiUF3EeERtSM1+Wt85sX8h/EF4GpnnLYefeQJCOuESMg8McZxNrYhaqnVh
aexy9QrH4bCGI/uU8qG46XUL9LQ+KFe7QDTir+lZrZDyRzQ0E0RLrUGSlAIHs9VH+hOai2hzL/Gn
VtGsROJQ7WP2Ghv3Cpyn9MyhvlcbmUHGP2hrnZFkE/HwFOd5BvY8z/nZPCttZjLhsO1upRO3WnYk
Mn9h7qI1suLMtucGmdmPWUqVZFbbc8L8Z3iO1NH4ssoi+yfJRiJTi6ZO5a1Ru6LJzNIIybmkWMaC
+04xx8aSYUNmboS9LyXWiHUxSlqbz+piiPeX+YuBn4RvaP2hB6k1te4x3qYm96cWfn7PrjpX+Eba
Su7TC3Ux5ypcpvU7MuNKtTzdlnHvsavqES5L486xLfBh51skzVfysPrONYqrJGnrSbEMWErVItXA
Ei99xt9r72//hDzx7IWxC7yCZL38l1YJEVpcprXFHqxmyRZmjWKDBdpTbCpbMMXpYG1fES7TGiQP
ksPJW8YgaUXFlhHcYWo7LEmRErbUNrsQfz/T/unUaB4o+sJ+Ni0SQLUXMJuS4fcvajO42zyD2sgT
e0kBFLUEPhTroNgctVIuPxJruGAK4gADTZNNUbRpk/BzexqeoXVVCuszSKMeUgs7YApUMjoqvExn
QERm4nLaH4D0TSkhdxp9sUaRW98a1dI+UfdH9R+NZIrg4LXBKEv4unBt4W8Ij4LGhIZZvRci4kZ8
FDW1dY01t6hbO8ca2tASlfAUig9eF4xKhH+oLPIwheaDzJHy+Sw5XO/AMk+9bc3ZoqkfXtNztVgM
osPWbkfycQjURuI0Jpl6LSlsI1O2Je4xVleunMZXIqSTFs74zAKt/e6ygZjtLRKP9CAZFHbjyUG9
yDL4A46Q23KhLPRWGk+ALuhna/mKwONPRa3yLgvs/ARVJ3fbAc7oXDPNRndCalwjqpIxMtRmOmSY
E4Cl3LFl1pw4DTOjneWKjZAjSPipXIqWFxiLn8onaLHYSC89p1guuDSPXHY8ObmEv02PRsAxNnW3
bCyC4UD04FBSUSyrCctlnKltjrsP5PLdLGqws6RChtcKOBeJjRo7Q8zH9rR0CPY8YXt0ykR5rkgH
KcutS+MP09zCKBZBmSm7UKUwkD0ql15Yde/ADxrh5Sy/EAQAddaxmNItYhxWKWVOamaKzt17d+99
wuW7eu9VyYXonEXpqA8MJtwO+z+A8L2G9jwy5hisdlkcaFwxCtbp6Efn+2vX7PoEd0np1k8b0IR6
6tOS7fMf7G9ML+iv3X5yZBe10kbRX/ob17emF4hrxn8CMiGS6a1xlqwJS9MZm4pXa/jbVm9tFfMl
TIMh8/aN7D+3rXFlyLxDS0Yl662gT3imYchUCK+/0lyJQuO6fYPjz1XkjpP0iRbf4OS8RuHrLY1l
jRONJY2cpV/M23Bmk74Q6hk7Q5A6GSfdIQZpPrJMh4hHLDlqpE70GzHOKp3zlmrRfxO5fca2ZFQS
2JbKUQqr8A3tYeEBey52mmR1BvVRi3R9TR52Ozku1+SC6QykxpXqSnY6gwUDq+6AbNCwk94SKhLN
iR8gmOZ7TPdVOiCBHxVF+P/I42B1D8h26ZDo/4kYi7aT7SIC6BNRoO+wXQaLJLdZB8x6foA80JBc
hNm7flCHvfPOH5HAPDN0/+A9JR4itcOY5XHoLf77WSuIkT+J2s9QRix69WcsJiZ9Trppn5M4mmOk
mw3nJPRs7+jNdU5QXotPp2wKWeK84wmpk+6mddLO5nOoQNzQO7qgyAmO67tgvqBSZwg2L8aWdT0C
skBDeiHMvq5SUMD50v6Hse1Mq3uYhgjY2rpR/ky0jQ/Mijd2Y3z765lWWIwazFwvjrmloLddoPLF
31a6hCPWb2ap1T6QOs/YbnCpCQ3YfSAvSN25B/GxT/OLyNWgWx0SA3LV6NZJXOTq0jHrjUPliY/N
3mZA4zvYGgh7JJgtwkIEGJM6eRzIe8OpGynaKLwzUNEmMFw+koMSNxFD5owjhFLOdrekv4tamExO
eB1V9M7IZJ1zoOd9I59ALeUrnJ8x14KHaWVyLSpp7Fk22WJw/nwL7GtB14qR0fJkcLhqo+B9LJMM
/rkYG/BwnkPP8PkA8NE6zx2xVe5kEBuxizfLIthjdV5K+e6P07hQqtPMemeJqXKp9mGpxaTarc4o
FrnJ59zjT3L0pPQtsyrNWvIm5YfwcVTHTaWUl53YWb7IXdMyYc/KpI1UOaS/Tu1ykkPCW+oagpme
5LTyQFR+ZehxWNR9ndUeSLovw31CzB1SO+cAUSGWWfwVkirsJI2I6cNiD4ou2i8L9BBVFs2ddcTK
EhZ5u7h78TS0Og4kUj/Y0uQsv43djoh18PpQ6hij/TO6aP+MGCc42XjZZHpp+IkOt0DZnhpWBx5Z
MMz6cYFM9KY5P7YducSEJofGXOdYaYhDfy78HasKwWIfDnJGsUpAWmRi25ADmVg6lPCaXWcOMRXq
jGODDqn2Y4JzZ15KVvshFe/ZlH9kM+jsK0AoYFJ+00cwQrBcfhMdyiFpKI+B6pAxJOb/M7iW0ZoU
P7uqFObQtgHtx1Ltiz1wlppB1nMM9Arqc7N2BCGbZVrnsR+ALih1H5OKG7HYT+SajQ/JMgaKJ6bD
PPveIqL1YG0xYoFhuTSGwXaM/STy+aE9JCzuae2EZoXjoiMehundTe7UbNVI0+M2Gi6xwLDV3k9j
GQafFpX8J+whkc5rOVg+cjZWpKjNp02jjKjQ25CG9EmG838pfpX1Eqbcw9pL27XTUrhlx8eHh6iy
YtrbwpemlO0qT46ISSjWRe4Ov3tJsYf7EkXD88uW3huw1K+jfNn7t3JirfWX/GVaH0369cpWSIMY
80UzVkkH3Tt0b5fTSmlUvCOj5WWbs8OV5nNt5/8Ma016TRi5CpFr/pfVF2j3HYP3CK/Okuj15rST
h289kNF1/dT3r8TgWd039afTaBLBwUOm+hufhl1zfXKmGnC7AmmxFNxFrPMg+yqJy+LKRJvqf1ft
8THNkf6/qPhgNQseN1734cJqKcEOZbWUiTdcTUndD7NXVB4n6WSzVVXi40RKuYg5xtfEHGP9jWUZ
U0BmzjQeAnrOlG2MviUnOdhuwhfUPvWg3VVsbI7ZrLhhi/Ex5tSOswZl3WZs00nsOLB9Pqe+kpRp
ts+sppzeAsnoDMac1RpCs9lzGpADSTiC9R9EtNmQuOdZa+4so6tG5Fz0DKopq6i0SYlA64QvaUoE
ypJPhkDcw7gdc1QGS1nSD7NDlR34VL96De6JZfeIUhrHMtnMZDG7pxXu+YDGcex8tn124U1raJND
KAi3oSdp/jQ7zYLgxGEnDeau41b0Dz7DksMkL81WTBNUuNVRCCGuy9zFfQuQeVH9UCWpaF0djSU0
ero0o8Q1J4JpeASXo7gOJ+APaSRFpubgPbkaEPt6D8zdDjTLk2pwJL8vqpaUWsmfS+dLEC5zfzO/
xCKOErclWDjJwi1WnXAviyfT/hS2eiFeTxpUPDddLaQNKk7JNG2V9MFrTEOy68xGMvvtu7P9Y8Ga
IocObXiepe7IHjaCrx1sy0mo7F/TYWNyXaajrBU22/FsFNVf0EjZNC2VaE2OSiovwsbi2IE2PTDs
IPyFpQmGyRFMWgAtAycvwnlRZmwrtDhGym8XTk4DmWb+O8LstKYaFt1Gc10AK26rtJLi9lnrBWBp
HZTp52B1HTRpcW3Jd2v8F11BqyzfrRGFjkf9d9066TN+ue1nfIDls2H0MJqHX2a8TRrhkVyX4ShV
TzNt1o8eXt/R6Eoa9cO9vegEqmG9lZSWzv7LrU39T2TBfRvaG7/f94JgbjU6jUsoDNTmkaDQWN6h
udHBFKCsOOGOKOktOg1zuWX5NB+QfsNYC9AJnCzFWa3fP+BqeYfqLQALFz2W+jJ4LLC7WXAgazSC
fkhxIGskM9ZzFA7yvPBrB9TcrCgC7dZxX6LHWe9lo1LB2l0p9Pz9bROBG8Ka0ycCN5V9iZQeNR57
9sBF+II8Q77LhfQAJx3AjfBMCbI86IvgouhNG1dujDWMB24MJUNsjM2aUG4MJQOcPCkNxd5RGHZw
b6Aj6N8UBhuJ/XVWUW8lHEJvFGVXDRdnVQ1zLDMAv8DtleqgNOKeIS+sitsZK2yM3UUvcXvpDywz
+d4gl1ftvjeohMS9ZvruIM0NfI+Qxvl3CvHd8L4N/iaop3+5EJ8nfrmQcHi2bxma6duGrN86hEhv
N9RHe7txRtbS7V67Tm7kHh7uMdD+XXAPbdtlsuvWRfbGXvMD+DF8VfpOmzH89OhU7WJ+/vUfMV6J
AD3vA/wr1rtDpwdeowxnTZon7lKak0ZOcZrvf/Pq2zwXqxpcvapVdSmPjDybNxhSnruh9H3VP31c
P1b9zr0uN71O177Ee/vw3DTd3MGbHjRkZY7N1aXNLajQJdRuZLXktr37aP2sTPc+f7ZWSYh0nWM9
NB2b93ncV9k8v7y2LjYxIa7OoW/fbWiiuqC4avPPtOooDdn/1WgnFvArnIZ44WbXJo1K0mIULCrQ
dRQX2zMSEnPCNSptclxldk1inDYtLDo0Lj62asPcguzd5XPziva6GYvQznxtSkigT+CcgLiIJGOa
Li7E3zfQxy82MtXohrKOHBF+8+c77/wzOyc3on34Kv3+gED6XWHW2TR042sVaKXt4MJnVX2+//Hp
r0b7rEMJOTkC+T4lFI970X1UhyLd7UoEHzX6GsWvIbojbLSNtLc06PIaue7SMn9DPyYtp70SjtGW
0+VBtOX01Hez9aG2b0rNk7nxn2BuntW7sowex9lIrhg2Ru+MmlohM4NgaflsN7zY/5nO8Q7FTyXf
PZt+e4PcuCSjyG5ElroEPApjuiwT4aY9GJxBLk9PA89fiJKwuREi4gPyODoiTGnqskhcz6QbX1EC
1Y2vKj4wnTgylPr/+70PpLf73VIfaZVNx2f53u6hYwcderv3TV22rU/hxTGJbhnAMp1tKqkcR0ar
Qdd8V254sQ5VbhKp3gbm+YDCrp8RertoiCwqz9vFQ2SmRN/Y5HJLcxO7LYjwzrTabRkQvmKm3wJ5
RFktrCymLuJcTAeW6nLs6qflqPprSSfeJT8jq4mdhbbXKG3VM9MWmFGWpDtInbIcJa9Z+lqQOc7f
yBxGjUKeA2l8TmYSjFm9DqnpIPwdRk/kabWMNjEFu29uWlgZaKllCrVEFnLFOZem5ojlTH2WuALi
LOQT10u0r1kW+kzRKSfrd36a+X1KdhkdbfKpTU7XlPUPusjFculcIUAlOTcdHXo238RoC65tiee5
JdSxaVfkWd6oNGWlFU4AuGEA9pjF6Yld9UPMp2nj5wxXqLTpprzEIiXAHpUKsAtGm4JPV0rHx6mf
luikiVzOzP0XZqLmU3cO3rP0RihK3bFm7gbJynr4DPCbAcZ4LosrpRD6/u8ou+rOgXsivhd1v7gl
o/uT70thaf99SPdf6ix73NFVI7sfS+R6NcnJgC/sfDrI/F/Qm3vwL8XsQUmNZE3e7b7SjX1/H0KL
dmt7q0YqW28vjqhs7C/NaG+rGjy4fNvZ1OIHvE35lV1lKb0r8g369JqmFcuaDiT71Wf3brXRk0le
ZgKpbwY9mfRpjiZtml1Zl2YtbdMcrPcnCVeke7OlVTP9WE5rdj9jSlSnJazo7G3q1SbEx/Z6/89d
+K53yOXxF/fivc/Tyx1oPD46HSfne9+2a9cr0eE4Iorj/LhMcy7ezUfDec8sr0aum1vOjXJj3M3c
bdwx7mHuMe4c9zxQhuR9af0zcwBGf4NRozIoggzZhmwtvDTkHby0QdpsV6BeEdIGBWpj0rAbKL+U
+9wCVWINLWjF+hwV3GxUGfRGGDJbAW8oveGPbpTiZN3TkJbeRf+sFSfSwnsV+aU3qAxG8oIBCFx6
wtuGzKDAIOD77CyjCu6Gf7nFkG/MCw7Cu990P+n+hk+Acs5SNWqKXHbFVwfW2pe+ab6+acjV0yvK
z8/du2uOiwvyU4V7+/mo/OYoPZG3t7/bMXd3X8/AAM9AlOTp4e3pH+heGOjjE+gTPccjwD3A44WY
MJUqrN89VOEeutzH3Qt5ufu4eyIvhRfybPL2mePu7ef3kJeXpzHaw8fjVz4+KE0ZpsSJzc0PnG3y
Kfc529wM/59xid2/P9g1lw/wjgoKigoICwuI9AsKCXGL9tmQ6u0eGBYYEhLl6+/i6Zvq6+fj6eHr
6+HpFRzp7x+Zqpij8FakRkfD/2kxMWla+Dka7KlU+tYFhSr9Tvq7e/j5u3l5uX2/72BBKBRHoPO0
NkCsDAg1Lh+iBQHU1kSRYOlEU58g8+CRTDkWFcXcM/DZSqk3rJRz+4yYYkBvIvchpMZX0R/EMYjH
81BdxzLaXhbsn9dhjEwaj5T0m9fFTrFXxUaIiPs33NPJ7pH8150sTsnikuSea/gKbqU1s/YVs9tt
S3uksh64/wL+HM/lb2ZeIJm+NAq5hs6f2/ZxRtybPMLNtF6J5nW/STKHWIUS5v4CMFdKdTcWj+IZ
S0tb1s4WoVKgzXv0PmaplJKyHFKSA2M8gf+NHuR/OYsPXT0txwX/2yGb5f8ATftlE3jatZTPb9xE
FMefdzduomarphWViIT0kGjU0qw37aXVHpBClDSE9kSbA7eJPbt2u/asxmNWewWJGxfEf8GRPwDB
gX8CiXsl/gIu8J3xC5KlBJEK1lrPZ97M+zXveYiIo68povb3CX0nHNGQ/hDuURzdEe7T+5ESHtDt
6HvhNRpGvwrHdLu3JXyNVO+N8Dq9018Kb9Ct/g/C18G/C2/SrcFd4SF9ufaR8A16EL8rfJPi+DPh
LRrGXyCqaLCB2bchQs8RbdNvwj3ajNaF+/Rx9J7wgHair4TXaDv6UTiG/I3wNfq5d1d4nT7sfyq8
QR/0vxG+Dv5FeBP8p/AwGgyeCN+g07WfhG/SZnwovEXb8ed0QIYWtCJLBc0oJ0dM9yC9j/ER7YVn
929+DDqGhqYpzfG2mO/gfwTS4T+iE6xXoJoSrHiLDh4mNMazDE8CyQoyA4+WFCjHPKEUkpLowCxW
tpjlju8d3OdHe3t7u/79mI+Nns615R0+strq0YmpdJ1w7txiMh4vl8vErRZmZtUiXyWpgamnsOhg
XcEu03NElSHPxnt5alyuSn6us6Ipff857JpjNcXEqXmB8RjJHSGhCZQvN8UdZb/3IZJpD4yOd45O
Jtxxxq35CT9MkFY3yFHHcieo1saotXEe4Wk49ho7/KF3PJ9qWxem+i+8dHMv4I/BDJkvXwZbJUZL
ryEzaI2rNIlvriVse+852FtaYTzDKofds+DRiW4WIvC5pkHiY2/nr5CNDXuzYM3JqfhGPC93UbNi
Z1WmS2Vfs5le3FS7vMyLNOdSrfhMs9WzonZYzbioONXWKYyvGlvUWZE6nHKd0BVypgudEr3AjjNE
rcIJX6L7wpwVqu4q/qvv6qIP5K0V90MB2rvjvOi+RXzRDhFqhqBfItz2KJ6FguhQDL9jPzjSoXG8
1AVtIzbaBpuGlP1KHew7BKqClvesQsnbJvE7m+CTg848NIQOTere6g4aw2cDmV/3LTaGtQZ2FXZ4
ayUYFd/nFHeV7yKXaz6sstHLGlV9VqS6qjXvz6zWpa4cO4Md6L2pwaQ2U7dUVnOqKt9dU9NUGZtq
XlSalbv8PhvXzWJhrBvrZq6S3JVzxPD/JEdXCKJ7P8iXRv9wRVLnHqS/ADMfnHgAAAB42m1UV3AT
VxQ9B1taJLnQe+/VGNM7AgtjMDbYFsammPVqJa2tYlZaC5veO4GQyV8yKTOZSTLpdZJMeu+Z9N6T
Sc9HPtLJ7j5hLTPRzL5zrvaee89970noAVz8zXyOoB/+58Mua0EP5CEfLrghoSc88MKHAhSiCMXo
hd7og76mvj8GYCAGYTCGYCiGYThGYCRGYTTGYCzGYTwmYCImYTKmYCqmYTpKMAOlmIkyzMJszMFc
zMN8LMBCLMJiLMFSLMNy+LECK1GOAFahAqtRiTVYiyqsQzVqsB4bUIs61COIjWjAJjSiCZuxBVux
Dc3YDpk9cCMO4wiuxlGcxSlcg5txEh/gEC7gDI7jKXyCa3ELbsBteAHP4Xa0QME5hPASVDyPF/Ea
XsYreBXfIYw38TrewB2I4Fecxzt4C28jih/wE06gFRraEEcMCVyHJHagHTpSMJBGBzL4HjvRhU7s
wh7sxoO4HvuwF/txAD/iZzzEPObTRTcl9sQ/+JceenGRoI8FLCRZxGL2Ym/2YV/2Y38O4ED8jj84
iIM5hEM5jMM5giM5iqM5hmPxJ97lOI7nBE7kJE7mFE7lNE7HF/iSJZzBUs5kGWdxNudwLudxPhfg
TtzFhVzExVzCpVzG5fTjL/yNr/A1V3AlyxngKlZwNSu5hmtZxXWsZg3XcwNrWYeHWc8gN7IB3+Bb
3MRNbGQTN3MLt3Ibm7kd7+FzfIiP8DE+w/v4lDJbqDBElWFGGKXGVrYxxjgTTOJu3IP78QCexr24
D8/gIJ7EMdyKZ/EoHsMjbOcO6jiNX5jC43iCaRrsYIY72cku7uJu7uFe7uN+HuBBHuJhHuFRHuNx
nuBJnuJpnuFZXsFzPM8reYFXSUZCKy31l0r+uKzoyYQkC3T7W3S1Q3XLNkj+ZCSZUNskWaB3ZSiZ
lhVFTaS9Sjd1lyuyJQ0JKDfryGkpkC2sZgsHRGHVBm8gV0jtplIg204V6A6IiqoN3oqcJtJNCyqU
ZDwuZ4OII8hf3SLr+VFzkSqzXrSsl0rhRRNDVma7agIL1jortjkCd5WsGGnVHbOhoMqZF7ssT/iO
2ZBfZZrNj5mLu1roE0Jf7dQnnPpqoU/YINVk3Sez7muE+6QNhTVRIxGRdSMek410YdIZuWtFP130
q3X20539akU/XUCdUKWEqt6pSjtV9SI9LVwGsy6NrMugcGnY4ArqWiLiMqy1MHiZY8MZScHsWRgC
fQ2KpitGPBxTd/oyDt7o4J057m4S3rts8DblbkxXjvotFyJB7qaSPyBQVm301aRicioqeDLHC+qc
+5FyBK6UEs3IPucONUR02dyDjIAG4S1jg6chpKm6mtJSnswl5m4UiZ02SGoi1S4rJsZtLE5HdVVt
N1NFXBROGnou9KSjmhB4orKm2yw/YOhJT7vREtNSUTXkS6l6h6aYv0i9LS/cHHaZT7NmrzHXhhI5
lnbJ1uqVbYuC2udn0WI5t89WXChf8i0SbdMW9WX/SwQXB2lxj73bIvkSKyvKHYFocllY5pXTWixk
c489v8WKdDWipdJm85AV5lUHq6RouDUVMyIurcQ8aI99JUVPu5Qit/dy3jPrC48wbLIix2DWC6G2
mBjeYsKGybzZ4Uxa0L0BZlDYfcGsqKc9oEn+A56Ik6oAAAAB//8AAgABAAAADgAAACQAAAAAAAIA
AwADAVUAAQFWAVoAAgFbAXkAAQAEAAAAAgAAeNptT7tOAlEUnFl5CcRYGCpCkBhjYWEQKYyFhTFu
3IQEiaJRdOUl5KoFVH6FhYkvPsQYP4DCL7IQz717I/jYYmbPOXfmzAEBxNHAEE5WPswov3+FRYSk
j9EIUSFiSuowIlLFwUp5N4vMv1Pdi5meM9GN+b7qI686bR/r6rqusNnTne1ebyUPT3AVZcECqoJr
qImDY1wC98BPY+AdMhg2GDEYxTTmkMYCllHABrbgoWL1O9bhxta3Vn9n66Hld8sfATNkOSa7M0iy
w2NeskufJzzlBc94zhrr8iqJlNmocI8HPOIJz3jBK95klhJ1HLNw2GBTsMW2uWbAnE7PeUGKliia
+8Lipi/JYYlHktxFiYeGPVZFV+KBoMd9QddoXeOzZ/71tjQSknScshHkZEvmCck5zjgIUkoSndFh
82c2fBpPNXF/949v6/t+9duZuS+vuEwGAHjavVl9bFTHEf/tOxxsYzAYzIftmg871IYYkpiQGkcl
rdKKEpqkbRrJtRSRSOSjqdKoaqOqUpH6IZX+USpRoFFkUTWRaAVCtVQhpVYlSusEEZAVmhadaAzk
iHuFvJgeplfM1d7+dnbfuzvfnX0HdnY07+3bnZ3ZnZ2Znb2DAlCJjXgI3goWzPvGU99+EXWYxXZo
DduvHv/ywyv4DlrUCzu+9SLKTU1wFjy+PVRGXoWKPCCjW/A1bMfX8V3sxI/xZ7yHK/ifmqda1GfV
S2qnekUdUv1qQP1NXfHgrfMe8572XvJe9vZ6h7w/eW95p72/ehc5luCNR2ZFNlJOnU5SSoc+ji79
ISJo0wls1T6+iEb2tulePrfqGKpRo7djob6ERZiPWn0Vi/UolugDWErqZXqQnEZRz9EN7GvTO8lv
AN16QD1PCXdwNEfqFEcmOTJJ6iH2jFBiDcrIx2fLDa6yhlyWkq5OD5NTSlqucaTpv8AWy+ua42Po
YoaOvFLSM0raESfBcEiyZwxz2PM9zt7n7Cs5NkEKn1IPU1acs/c58zipEzLbSAbXMeEad/Kuu7nF
hG4WVvGrQw+hk+8umVuFvkn6PqyinDa9j61D1MJZ6riNUjo5P6PPKNdco/tFvx2cTScputhWhrn6
A3L12XoKm0nXTc5zyHWY9Luxmu81xDbdQwrDjztF7NLnSXkG+zmHclInySNBqqRQbdUXSZWUHdkv
8za7bHa4i73dsuIOvcu19HGGm0k5266DvebrQZGSEOrtxDKRYHsM56uu1dpPkryaRCOGXlHTCXn6
YnEJkdfP2ZuRUUqqYs8q2tBmfZT8Em5eceGpuGeLUEWaUdFOjdNQG7+Nljop22jqQX53EY3Gtoue
6/R/+Gwh/wrqcC4W0NYWohaLsQRLsYw+WY8G3IlWtGE92rEBHejEp7EZj3M3uvEkduAZPIuXsV99
Tm1R29SXVLd6Ht7yZ4w/Los2HMADuJ8+fFj7ukfv0v36NIooulcf5UpN7R/6DMf6YXvc1PVlfUrH
uHawzzyj0jvA/h6+R2iVlj5peqeUluIIPx+9/WLrlazWEXkm3NdJzuRfOirzSoYQLSitX7/DvQ2+
LhOGghXk0I5OMuskSiqF1jbpmMt2pRybKkrGBT3MyFBptYoSC+05qJ3Iar9WcEW+2X/O74x+l7sQ
S3OS3Yix1dZ8s1v0xQwpeo/Yk7FJWlpgMel9zZHWo3+t9xg63Wdt07VHaXe+WN9RSowHFmL3mK1R
fdDMoLS90x9wVXHGgXx7Z/U7bt8s5eGocfceDHyDXBJFaP4iZ37RSUrQH1KZ3uFsIGXr6Zlkr0la
jhEOuvpBfUnf0B8VlPkbfUS/Rfpewgh1eoRth/R7+g32DHPsMf0Hts3WV0iXzOTDeJb2XH/yXcuR
6mJJCfSJUKfRcG099Npkfh7W+0ltwOjD59tEpdNsv0CLHJF3nJaRolYHM/kYT3O1tzlyj6u/ooeM
rReKAqQcILxtYibp3uCpSg8irxOE64QTnM9hPabP69/n5yP2ezN7xwtqZEyPB1YVztZG4biNF+F3
LGtc1PqfrDKWwzXG/iwr564PGptwNhklxIqPgzYeO2nFeMBxSjsaSMs+HYqIk/3h2hhzipB2kPu1
z0WwmESxxMT1WA/OJ1l/M6y9nof3gItBg/omre0kawf0j/QPzN7QPo5l6eikxMWT5lzN5ZM/Cpbo
Zz3pEcxPzfNcCSdC7xT9g6FNJl1+EI5gthw8qyfbP8a+o9RVrMSzyi80YgpLuSinRKnSEqWOcOP+
zrg6SJlx4eEXx4XzuxTG12TWuTKWuz7a8GhYi1LKSEh9oyhpIyFHc55V88wYD3KsPPqszJhlL+Vd
NmuyflSUtMvp+JfHs1IFM7BGQpMb08h8u3EqP+e5lZ1vvYsmZ5Ohh0+ITI3Msyf1vpkqH7O0aOb+
FpW5jtJKRrLyVhvjYkFu5KJN7tm2aKJdZEbA/L6WE4Oa3BmQmmjxgQzMcz3v0CYHeGeJlehv59MZ
bY6/pXIiD/Mf3n/izBGjkuOlirh1HE/fOkhHbZo7TYFbx1gBHiZO+hJLzInsF7Vzw4Xioexa3jtJ
2kpus1ROPLsnOQUGZE3JYA/SN7QC9FflVpT25D4+r2fdC1PBnbKAtOEMaX1TxhI/wwMS+nAgJ8xy
UtbW8uU6xWQkE0aM54+DdoWl5M+TSvkno/EFek91cff0aYk955h788bNc7HPZIb6NUaIBDOlG9yP
m4T/3tpJW9zdezq0VuiWwnhgZJShjLHhlHjp69StzX5SbK8mZpyftyHteOYvGNPor1NHrlGJctdm
TprTpbm/MSrLjcrn1y62n6WPneNzRN4x5vwp6UsWEwknyezs+RWVWO6HJ9mg1KNyP7wiESPh4sYt
y6O/ndR/tL+ofGz+Flj+EXuXS3uBrKJy2uQc5E1jj7uL9efLyPPdH2/XH+2pm8sxuMdPp5btmTtB
mp++bc/Azt3y2X37smfYKhO5OZjLxKZzFf301z75Dyvnxufsw88zk2k9I/SvCmed08D9mPvtaTch
yET65LetXolnA8YXp0unzIIS6V9z8mZBycJZ0C1E5quM9Vez/HrI3uGzM6sZyRj8GbL867cxWKFC
bZc76gbiOuIC3nwW4H5syqLbSGxHJyGz3MnxHiJYbf/pxSeZj9whteVoQStmm3/m6C1rMQd3oQpz
cQ/WZ9yxzL9SkP+l6lErbQ3EWkIj+4BPYAVWog6fwip08K7ejLsLrqQ6T9t83Jf1HeF8Iw6C4sls
AzD1SgdV/LpX/okLYKn8i2YhXWrllwQL5sZf56CJa2iSdQaoOD5Az8mOkNdEnEV9BAinmcxSRj0Z
PQeI8F0b4nLOJEDDcza1GWA59RpgBTVssJIznohzqPcqrsHsXHOIdu8MT8Pb8FiaR/dmbIBVood0
mUdYiBramX3askB2cX4W5bKwtibUaxqsVuvEip/i3Kxcs7fNtLRmyl0i/GpEJ4spwYy4O7Qikz2v
FN6BDFPKM2RaXM95bDD/rnLH6rkecGeCPKeBNtJKD2il9a9mvZ1ruJfQIh7QwrYWanwt7f8Oams2
dWZ/EarIa8XrxNOySxP1uzIDVoTzzS5rQjD1DQ7qRd8NWdAaQruDVpltACDe5cD6xEqOCnANewME
12exNQfXsD1AW9ozEOJduWhKS4iZsqy8dN966jXAZdSwwQ2c8USso97ruQazc20hQtaywq3H8MhX
6sSfG0MemeUewn2MgXBPW5plF5vCuLlR4mIARhcToUGsaDV9weOqKsQy5hAULXou26rZExF7Lydd
I/ubyadK/sFfSJ1tpmU/hM+zdQsepoxHCGvxGL7CtX8VT9LaXyBswnfwQ8bvnxC+gJ/iZ9iKn2Mv
HsV+vEa63+IInsbv8Bc8hzcJ38cJnMVORAm78T4ukXqIsAdxwi/wIWEvhgn78G/CflxTy/FLtVK1
4k3VrjZhQH1GbcFZtU1tw3n1iHoUF9QT6gm8r7rVDsTUs+o5fPR/DYUgjXjaY2BgYGQAgmOp20+B
6EPPp72A0QBaTgj8AAA=) format('woff'), url('Gotham-MediumItalic.ttf')  format('truetype'), url('Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


